<!doctype html>
<html>
    {{> header}}
    <body class="index" onload="displayLoader()"> 
        <div id="loader">
            <h1>LOADING...</h1>
        </div>
        <h1>EGGPLANT INVADERS 2</h1>
        <div id="game">
        </div><!-- #game -->
        <script src="javascripts/preload.js" type="text/javascript"></script>
        <script src="javascripts/create.js" type="text/javascript"></script>
        <script src="javascripts/update.js" type="text/javascript"></script>
        <script src="javascripts/game.js" type="text/javascript"></script>
        <script>
            //add in initial page loader
            var pageLoad;
            
            function displayLoader() {
                pageLoad = setTimeout(showPage, 1000, "easeInOut");
            }

            function showPage() {
                document.getElementById('loader').style.display = 'none';
                document.getElementById('game').style.display = 'block';
            }
        </script>
    </body>
</html>
