<!doctype html>
<html>
    {{> header}}
    <body class="index" onload="displayLoader()"> 
        <div id="loader">
            <h1>LOADING...</h1>
        </div>
        <div id="home-screen">
            <h1 id="game-title">EGGPLANT INVADERS 2</h1>
            <button id="play-game">PLAY GAME</button>
        </div>
        <script>
            //add in initial page loader
            var pageLoad;
            
            function displayLoader() {
                pageLoad = setTimeout(showPage, 1000, "easeInOut");
            }

            function showPage() {
                document.getElementById('loader').style.display = 'none';
                document.getElementById('home-screen').style.display = 'block';
            }

            document.getElementById('play-game').addEventListener('click', function(){
                window.location.href = "/game";
            })
        </script>
    </body>
</html>
