@font-face {
  font-family: 'silkscreen';
  src: url('../fonts/slkscr-webfont.eot');
  src: url('../fonts/slkscr-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/slkscr-webfont.woff') format('woff'),
       url('../fonts/slkscr-webfont.ttf') format('truetype'),
       url('../fonts/slkscr-webfont.svg#silkscreennormal') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'silkscreen';
  src: url('../fonts/slkscreb-webfont.eot');
  src: url('../fonts/slkscreb-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/slkscreb-webfont.woff') format('woff'),
       url('../fonts/slkscreb-webfont.ttf') format('truetype'),
       url('../fonts/slkscreb-webfont.svg#silkscreen_expandedbold') format('svg');
  font-weight: bold;
  font-style: normal;
}

body {
  background: black;
  color: white;
  font-family: 'silkscreen';
  font-size: 16px;
  margin: 0;
}

h1 {
  width: 100%;
  padding-top: 80px;
  font-size: 2.5em;
  text-align: center;
  margin: 0;
}

footer {
  position: absolute;
  bottom: 16px;
  right: 16px;
  color: #444444;
}

a {
  color: #444444;
}

#home-screen {
  text-align: center;
  padding-top: 50%;
  display: none;
}

#game-title {
  font-size: 5.5em;
}

#play-game {
  -webkit-appearance: none;
  font-family: 'silkscreen';
  color: white;
  font-size: 5em;
  margin-top: 3em;
  padding: 50px 80px 50px 80px;
  background-color: green;
}

#play-game:focus, #play-game:hover {
  background-color: #1fb71f;
}

#game {
  display: none;
}

/* loader styles */
#loader {
  position: absolute;
  left: 30%;
  top: 50%;
  z-index: 1;
}
